.git
.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
node_modules
admin-ui/dist
admin-ui/node_modules
ai-gateway-stack
cdk.out
**/cdk.out
*.db
*.sqlite3
litellm.config.yaml
.env
htmlcov
